@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    min-height: 86vh;
}

.header{
    position: sticky;
    top: 0;
    z-index: 15;
}

.footer{
    bottom: 0;
}

.faq-item{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.book-details{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.book-details img{
    max-height: 25rem;
}

.book-card{
    transition: transform 0.3s, box-shadow 0.3s;
}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }

.row-review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.buttons_fire2_0{
    border: 1px solid black; 
}


.responsive-image {
    width: 75%;          
    height: auto;         
    object-fit: cover;   
}


.book_container{
    width: 30 rem !important;
}

.little_books_container{
    margin: 2%;
    display: grid;                
    grid-template-columns: repeat(auto-fit, minmax(10rem, 17.2rem));  
    gap: 1rem;                     
}

.form-field{
    display: block;
    margin: auto;
    opacity: 0.70;
    width: 50%;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.buttons_fire {
    display: block;
    border: none;        
    background-color: rgba(243, 244, 246, 0.9); 
    border-radius: 5px;        
    color: black;
    width: 75%;
    position: relative;
    right: 1.5rem;
}

.sorting{
    position: relative;
    bottom: 0.3rem;
}

.labl{
    position: relative;
    right: 4rem;
}

.select-sort{
    padding: 0.2rem 0.5rem;
    width: 8rem;
    opacity: 0.75;
}