<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} default title {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css'%}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <nav>
      <a href="/">quill</a>
      <a href="{% url 'books:catalog' %}">books_list</a>
      <a href="{% url 'about' %}">about</a>
      <a href="{% url 'faq' %}">faq</a>

      <form action="{% url 'books:catalog' %}" method="get" class="search-form">
        <input
          type="text"
          name="search"
          placeholder="Search books..."
          value="{{ request.GET.search }}"
          aria-label="Search books"
          class="search-input" />
        <button type="submit" class="search-button">Search</button>
      </form>

      {% if user.is_authenticated %}
      {% comment %} <a href="{% url 'books:new-review' %}">new review</a> {% endcomment %}
      <form class="logout" action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-button">logout</button>
      </form>
      {% else %}
      <a href="{% url 'users:register' %}">register</a>
      <a href="{% url 'users:login' %}">login</a>
      {% endif %}
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer class="text-center py-6">
      <p>&copy; 2024 Quill Bookstore</p>
    </footer>
  </body>
</html>
