{% extends "layout.html" %} 

{% block title %}
    {{book.title}}
{% endblock %}

{% block content %}
    <section>
        <img 
            class="cover"
            src="{{book.cover.url}}" 
            alt="{{book.title}}"
            width=150>
        <p>author: {{book.author}}</p>
        <p>publication_date: {{book.publication_date}}</p>
        <p>page_count: {{book.page_count}}</p>
        <p>isbn: {{book.isbn}}</p>
        <p>description: {{book.description}}</p>        
        <p>price:{{book.price}}</p>

    </section>
{% endblock  %}